#main_content{
    background-color: rgb(207, 223, 138);
}
#main_body{
    background-color: rgb(207, 223, 138);
}
html{
    overflow-y: auto !important
}
.div_to_capture{
    border:1px white solid;
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#div_to_capture2 {
    display:none;
}
#pagination_buttons{
    position:absolute;
    bottom:0;
}
form{
    width: 80%;
    margin:auto;
}
@media screen and (max-width: 350px) {
    #div_to_capture{
        transform: scale(0.8);
        margin-left: -5px
    }
}
@media screen and (max-width: 310px) {
    #div_to_capture916{
        transform: scale(0.7);
        margin-left: -15px
    }
}
@media screen and (max-width: 285px) {
    #div_to_capture916{
        transform: scale(0.6);
        margin-left: -40px
    }
}
@media screen and (max-height: 630px) {
    #div_to_capture916{
        transform: scale(0.8);
    }
}
@media screen and (max-height: 535px) {
    #div_to_capture916{
        transform: scale(0.7);
    }
}
@media screen and (max-height: 485px) {
    #div_to_capture916{
        transform: scale(0.6);
        margin-bottom: -60px
    }
}
@media screen and (max-height: 430px) {
    #div_to_capture916{
        transform: scale(0.5);
        margin-bottom: -100px
    }
}
@media screen and (max-height: 370px) {
    #div_to_capture916{
        transform: scale(0.4);
        margin-bottom: -130px
    }
}

