#navbar{
    background-color:black;
}
.navbar_tabs{
    min-width: 2px !important;
}
.help-icon{
    position:fixed !important;
    margin-top:10px;
    margin-left:5px
}
@media screen and (max-width: 600px) {
    .v-snack__content{
        font-size: 0.7rem !important;
        padding:2px 2px !important;
        line_height: 0.9rem !important;
    }
}
