#confirm_dialog_text{
    font-size: xx-large;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px
}
#template_card{
    margin:auto;
    margin-top: 10px;
}
#templates_list{
    padding:10px;
}
#scrollable_list{
    overflow: auto;
}
#dialog_box{
    padding: 5px;
}
.selected{
    border: blue 4px solid !important
}
